<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="nameTeller" class="com.mk.sp.beans.NameTellerImpl">
		<constructor-arg name="name" value="Mithun" />
	</bean>
	
	<bean id="nameTeller1" class="com.mk.sp.beans.NameTellerImpl">
		<constructor-arg name="name" value="Shamim" />
	</bean>


	<bean id="hello" class="com.mk.sp.beans.HelloWorldBean">
		<property name="msg" value="The Message" />
	</bean>
</beans>





